body {
  background: linear-gradient(to top, #000000, #01122E);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

* {
  box-sizing: border-box; }

img {
  position: absolute;
  width: 1000px;
  left: 10em;
  top: 20px; }

audio {
  overflow: hidden; }

.container {
  position: relative; }
@keyframes pulse {
  from {
    transform: none; }
  50% {
    transform: scale(1.1); }
  to {
    transform: none; } }
  .container .esfera {
    background: linear-gradient(#E45A2B, #F7D211);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    padding: 25px;
    display: inline-block;
    animation: pulse .9s infinite;
    transform-origin: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 35px #CFA055; }
  .container .estrella-1 {
    position: absolute;
    top: 100px;
    left: 400px; }
    .container .estrella-1 .star-five {
      margin: 12.5px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 25px solid transparent;
      border-bottom: 17.5px solid #F81904;
      border-left: 25px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-1 .star-five:before {
      border-bottom: 20px solid #F81904;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -11.25px;
      left: -16.25px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-1 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.75px;
      left: -26.25px;
      width: 0px;
      height: 0px;
      border-right: 25px solid transparent;
      border-bottom: 17.5px solid #F81904;
      border-left: 25px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 10px;
    position: absolute;
    top: 100px;
    left: 760px; }
    .container .estrella-2 .star-five {
      margin: 8px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 16px solid transparent;
      border-bottom: 11.2px solid #F81904;
      border-left: 16px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-2 .star-five:before {
      border-bottom: 12.8px solid #F81904;
      border-left: 4.8px solid transparent;
      border-right: 4.8px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -7.2px;
      left: -10.4px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-2 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.48px;
      left: -16.8px;
      width: 0px;
      height: 0px;
      border-right: 16px solid transparent;
      border-bottom: 11.2px solid #F81904;
      border-left: 16px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 10px;
    position: absolute;
    top: 300px;
    left: 240px; }
    .container .estrella-3 .star-five {
      margin: 6.5px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 9.1px solid #F81904;
      border-left: 13px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-3 .star-five:before {
      border-bottom: 10.4px solid #F81904;
      border-left: 3.9px solid transparent;
      border-right: 3.9px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -5.85px;
      left: -8.45px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-3 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.39px;
      left: -13.65px;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 9.1px solid #F81904;
      border-left: 13px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 25px;
    position: absolute;
    top: 360px;
    left: 590px; }
    .container .estrella-4 .star-five {
      margin: 5px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #F81904;
      border-left: 10px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-4 .star-five:before {
      border-bottom: 8px solid #F81904;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -4.5px;
      left: -6.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-4 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.3px;
      left: -10.5px;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #F81904;
      border-left: 10px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 20px;
    position: absolute;
    top: 330px;
    left: 950px; }
    .container .estrella-5 .star-five {
      margin: 5px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #F81904;
      border-left: 10px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-5 .star-five:before {
      border-bottom: 8px solid #F81904;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -4.5px;
      left: -6.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-5 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.3px;
      left: -10.5px;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid #F81904;
      border-left: 10px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 25px;
    position: absolute;
    top: 500px;
    left: 400px; }
    .container .estrella-6 .star-five {
      margin: 4px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 8px solid transparent;
      border-bottom: 5.6px solid #F81904;
      border-left: 8px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-6 .star-five:before {
      border-bottom: 6.4px solid #F81904;
      border-left: 2.4px solid transparent;
      border-right: 2.4px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -3.6px;
      left: -5.2px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-6 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.24px;
      left: -8.4px;
      width: 0px;
      height: 0px;
      border-right: 8px solid transparent;
      border-bottom: 5.6px solid #F81904;
      border-left: 8px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }
  .container .estrella-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 32px;
    position: absolute;
    top: 500px;
    left: 760px; }
    .container .estrella-7 .star-five {
      margin: 4px 0;
      position: relative;
      display: block;
      color: #F81904;
      width: 0px;
      height: 0px;
      border-right: 8px solid transparent;
      border-bottom: 5.6px solid #F81904;
      border-left: 8px solid transparent;
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg); }
    .container .estrella-7 .star-five:before {
      border-bottom: 6.4px solid #F81904;
      border-left: 2.4px solid transparent;
      border-right: 2.4px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -3.6px;
      left: -5.2px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg); }
    .container .estrella-7 .star-five:after {
      position: absolute;
      display: block;
      color: #F81904;
      top: 0.24px;
      left: -8.4px;
      width: 0px;
      height: 0px;
      border-right: 8px solid transparent;
      border-bottom: 5.6px solid #F81904;
      border-left: 8px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: ''; }

/*# sourceMappingURL=main.css.map */
